.directory {
    width: 60%; 
    border: 1px solid rgb(0, 0, 0); 
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.div1 {
    width: 30%; 
    margin-left: 20%; 
    padding: flex; 
    position: absolute; 
    top: 90px; 
    left: 300px;
}
.div2 {
    width: 30%; 
    margin-left: 48%; 
    padding: flex; 
    position: absolute; 
    top: 90px; 
    left: 300px;
}
.seblak {
    display: flex; 
    gap: 10px;
}
.japlak {
    width: 200px; 
    height: 200px; 
    border: 1px solid rgb(58, 55, 55);
    display: flex;
}
.martabak {
    display: flex; 
    gap : 20px; 
    padding : 15px;
}
.bakmie {
    display: grid; 
    gap: 30px;
}
.pizza1 {
    width: 70px; 
    height: 70px; 
    border: 1px solid black;
}
.bakmie2 {
    display: grid; 
    gap: 30px;
}
.pizza2 {
    width: 70px; 
    height: 70px; 
    border: 1px solid black;
}
.cookies {
    display: flex; 
    gap : 10px; 
    border: 1px solid black; 
    padding : 10px;
    width: 200px; 
    height: 200px; 
    border: 1px solid black;
}